html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: blue;
  z-index: 20;
}

.headlinetext {
  position: absolute;
  top: 18%;
  left: 8%;
  color: orange;
  background-color: #707070;
  padding: 8px;
  border-radius: 8px;
  opacity: .8;
}

@media screen and (min-width: 1000px) {
  .title {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: bold;
    color: #ff2020;
    margin: 8px;
  }

  .pure-u-1-6 {
    font-family: 'Roboto';
    font-size: 24px;
    margin-left: 2%;
    margin-top: 1%;
  }

  a {
    color: #ffaaaa;
    text-decoration: none;
  }

  .headline {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 25%;
    right: 12.5%;
  }
}
